@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    min-height: 100vh;
}
/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(16, 21, 28, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    display: flex;
}

.logo img {
    width: 1.5rem;
}
.logo a {
    margin-left: 10px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    top: 10%;
    font-size: 13px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #dd3157;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navmenu {
    display: flex;
    gap: 30px;
}
.navmenu img {
    width: 1.5rem;
    float: left;
    transition: filter 0.1s ease;
}
.navmenu img:hover {
    filter: saturate(100%) invert(81%) 
    sepia(97%) saturate(7484%) hue-rotate(327deg) 
    brightness(86%) contrast(93%);
}
/* End of Header */

/* Main */
/* Hero Page */
.hero-page {
    --default-color: #ffffff;
    --default-color-rgb: 255, 255, 255;
    --background-color-rgb: 0, 0, 0;
    --heading-color: #ffffff;
    --heading-color-rgb: 169, 167, 167;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 160px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-page video {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero-page:before {
    content: "";
    background: rgba(var(--background-color-rgb), .3);
    position: absolute;
    inset: 0;
    z-index: 2;
}
.hero-page .container {
    text-align: center;
    position: relative;
    z-index: 3;
}
.hero-page .container h2 {
    text-align: center;
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.hero-page .container p {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 24px;
    color: var(--heading-color);
}
  
.hero-page .btn-learn-more {
    text-decoration: none;
    color: var(--default-color);
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0 0 0;
    transition: 0.5s;
    text-transform: uppercase;
    border: 2px solid rgba(var(--default-color-rgb), 0.8);
    border-radius: 15px;
}

.hero-page .btn-learn-more:hover {
    color: var(--contrast-color);
    background: #dd3157;
    border-color: var(--accent-color);
}
@media (max-width: 768px) {
    .hero-page h2 {
      font-size: 32px;
    }
  
    .hero-page p {
      font-size: 18px;
    }
  }
/* End of Hero Page */
/* Brands */
.brands {
    background-color: rgb(241, 241, 241);
}

.brands h2 {
    padding-top: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 40px;
}

.brands-container {
    padding: 25px 10% 100px 10%;
    background-color: rgba(236, 37, 37, 0);
    max-width: 100%;
    margin:0 auto;
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
}

.main .brands .row {
    display: flex;
    flex-wrap: wrap;
    padding: 7px;
}
  
.main .brands .column {
    flex: 25%;
    max-width: 25%;
    padding: 7px;
}
  
.main .brands .column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    transition: transform .7s ease;
    border-radius: 8px;
}

.main .brands .column img:hover {
    transform: scale(1.13);
    border-radius: 9px;
}

@media screen and (max-width: 800px) {
    .main .brands .column {
        flex: 50%;
        max-width: 50%;
    }
}
  
@media screen and (max-width: 600px) {
    .main .brands .column {
        flex: 100%;
        max-width: 100%;
    }
}
/* End of Brands */
/* Brand List */
.brand-list {
    min-height: 100%;
    display: grid;
    place-items: center;
}
.slider {
    height: 100px;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: grid;
    place-items: center;
}
.slide-track {
    display: flex;
    width: 100%;
    animation: scroll 50s linear infinite;
}
.slide-track:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(calc(-628px * 3));
    }
}
.slide {
    height: 110px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 50px;
    perspective: 100px;
}
.brand-list .slider .slide img {
    width: 100%;
    transition: transform .5s;
}
.brand-list .slider .slide img:hover {
    transform: translateZ(20px);
}
/* End of Brand List */
/* Recommended */
.recommended h2 {
    padding-top: 40px;
    color: white;
    text-align: center;
    font-size: 40px;
}
.recommended .box-container {
    padding: 25px;
    background-color: rgba(236, 37, 37, 0);
    max-width: 100%;
    margin:0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 20rem);
    gap:1.5rem;
    align-items: flex-start;
    justify-content: center;
}
.recommended .box-container .box{
    background-color: whitesmoke;
    border:var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding:2rem;
    text-align: center;
    position: relative;
}
.recommended .box-container .box .image{
    height: 15rem;
    width: 100%;
    object-fit: cover;
}
.recommended .box-container .box .fa-eye,
.recommended .box-container .box .price{
   position: absolute;
   top:1rem;
   border-radius: .5rem;
}
.recommended .box-container .box .price{
    border-radius: 25px;
   font-size: 1.5rem;
   padding:.5rem;
   background-color: rgba(194, 194, 194, 0.603);
   color:var(--white);
   left:1rem;
}

.recommended .box-container .box .fa-eye{
   right:1rem;
   height: 4.5rem;
   width: 4.5rem;
   line-height: 4.2rem;
   font-size: 2rem;
   background-color: var(--white);
   color:var(--black);
   border:var(--border);
}

.recommended .box-container .box .fa-eye:hover{
   background-color: var(--black);
   color:var(--white);
}

.recommended .box-container .box .name{
   margin:0;
   font-size: 2rem;
   color:var(--black);
}

.recommended .box-container .box .qty{
   width: 100%;
   padding:.02rem 1.4rem;
   font-size: 1.6rem;
   color:var(--black);
   border:var(--border);
   border-radius: .5rem;
   margin:.5rem 0;
}
.recommended .box-container .box .add-to-cart-btn,
.recommended .box-container .box .buy-now-btn{
   width: 100%;
}
.recommended {
	height: 100%;
	background: linear-gradient(-45deg, #75CAFF, #000000, #000000, #F4B1E8);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/* -------------------------- */
.quick-view form{
   max-width: 60rem;
   padding:2rem;
   text-align: center;
   border:var(--border);
   box-shadow: var(--border);
   border-radius: .5rem;
   background-color: var(--white);
   margin:0 auto;
}
.quick-view form .image{
   height: 33rem;
   border:var(--border);
   border-radius: .5rem;
}

.quick-view form .name{
   margin:1rem 0;
   font-size: 2rem;
   color:var(--black);
}

.quick-view form .price{
   color:var(--red);
   font-size: 2.5rem;
   padding:.5rem 0;
}

.quick-view form .details{
   padding:1rem 0;
   font-size: 1.5rem;
   color:var(--light-color);
   line-height: 2;
}

.quick-view form .qty{
   width: 100%;
   padding:1.2rem 1.4rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   border:var(--border);
   margin:.5rem 0;
}
/* ------------------------ */

/* End of Recommended */
/* Footer */
.footer {
    height: 50px;
    background-color: rgb(0, 0, 0);
}
.footer .container {
    margin: 0 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.footer .container h3 {
    color: #ffffff;
    font-weight: 100;
    font-size: small;
}
.footer .container .bottom-footer {
    display: flex;
}
.footer .container img {
    margin-top: .9rem;
    margin-left: 10px;
    width: 1.1rem;
}
/* End of Footer */
/* End of Main */
/* Log in */
.wrapper {
    background-color: black;
}
.wrapper .login .login-content {
    
    align-items: center;
}
.wrapper .login .login-content img {
    height: 150px;
}
/* End of Log in */