@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 100vh;
}
/* Header */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 100px;
    background: rgba(16, 21, 28, 0.7);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    display: flex;
}

.logo img {
    width: 1.5rem;
}
.logo a {
    margin-left: 10px;
    font-size: 19px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.navbar a {
    position: relative;
    top: 10%;
    font-size: 13px;
    color: white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #dd3157;
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.navmenu {
    display: flex;
    gap: 30px;
}
.navmenu img {
    width: 1.5rem;
    float: left;
    transition: filter 0.1s ease;
}
.navmenu img:hover {
    filter: saturate(100%) invert(81%) 
    sepia(97%) saturate(7484%) hue-rotate(327deg) 
    brightness(86%) contrast(93%);
}
.account-box {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: lightblue;
    padding: 10px;
}
/* End of Header */

/* Main */
/* Hero Page */
.hero-page {
    --default-color: #ffffff;
    --default-color-rgb: 255, 255, 255;
    --background-color-rgb: 0, 0, 0;
    --heading-color: #ffffff;
    --heading-color-rgb: 169, 167, 167;
    width: 100%;
    min-height: 100vh;
    position: relative;
    padding: 160px 0 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-page video {
    position: absolute;
    inset: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.hero-page:before {
    content: "";
    background: rgba(var(--background-color-rgb), .3);
    position: absolute;
    inset: 0;
    z-index: 2;
}
.hero-page .container {
    text-align: center;
    position: relative;
    z-index: 3;
}
.hero-page .container h2 {
    text-align: center;
    margin: 0;
    font-size: 48px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

.hero-page .container p {
    text-align: center;
    margin: 10px 0 0 0;
    font-size: 24px;
    color: var(--heading-color);
}
  
.hero-page .btn-learn-more {
    text-decoration: none;
    color: var(--default-color);
    font-weight: 400;
    font-size: 15px;
    display: inline-block;
    padding: 8px 30px;
    margin: 30px 0 0 0;
    transition: 0.5s;
    text-transform: uppercase;
    border: 2px solid rgba(var(--default-color-rgb), 0.8);
    border-radius: 15px;
}

.hero-page .btn-learn-more:hover {
    color: var(--contrast-color);
    background: #dd3157;
    border-color: var(--accent-color);
}
@media (max-width: 768px) {
    .hero-page h2 {
      font-size: 32px;
    }
  
    .hero-page p {
      font-size: 18px;
    }
  }
/* End of Hero Page */
/* Brand List */
.brand-list {
    min-height: 100%;
    display: grid;
    place-items: center;
}
.slider {
    height: 100px;
    margin: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    display: grid;
    place-items: center;
}
.slide-track {
    display: flex;
    width: 100%;
    animation: scroll 50s linear infinite;
}
.slide-track:hover {
    animation-play-state: paused;
}
@keyframes scroll {
    0% {
        transform: translate(0);
    }
    100% {
        transform: translateX(calc(-628px * 3));
    }
}
.slide {
    height: 110px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 50px;
    perspective: 100px;
}
.brand-list .slider .slide img {
    width: 100%;
    transition: transform .5s;
}
.brand-list .slider .slide img:hover {
    transform: translateZ(20px);
}
/* End of Brand List */
/* Footer */
.footer {
    height: 50px;
    background-color: rgb(0, 0, 0);
}
.footer .container {
    margin: 0 30px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
.footer .container h3 {
    color: #ffffff;
    font-weight: 100;
    font-size: small;
}
.footer .container .bottom-footer {
    display: flex;
}
.footer .container img {
    margin-top: .9rem;
    margin-left: 10px;
    width: 1.1rem;
}
/* End of Footer */
/* End of Main */
/* Log in */
.wrapper {
    background-color: black;
}
.wrapper .login .login-content {
    
    align-items: center;
}
.wrapper .login .login-content img {
    height: 150px;
}
/* End of Log in */